<nav>
    <div class="header">
        <h1>Grey's Synths & Drum Machines</h1>
    </div>
    <div class="pages">
        <a href="">All Instruments</a>
        <a href="">Synthesizers</a>
        <a href="">Drum Machines</a>
    </div>
</nav>