<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grey's Synths & Drum Machines</title>
</head>
<body>
    <h1>Grey's Synths & Drum Machines</h1>
    <p>An App to track your Gear Acquisition Syndrome</p>
    <a href="/instruments">Browse Instruments</a>
</body>
</html>