<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Grey's Synths & Drum Machines</title>
</head>
    <body>
        <h1>Grey's Synths & Drum Machines</h1>
        <img src="https://www.rlmusic.co.uk/rlm3/wp-content/uploads/2013/01/Rol_Juno_VSE_both.jpg" alt="A Roland Juno 60" class="synth-pic1">
        <p>An App to track your Gear Acquisition Syndrome</p>
        <a href="/instruments">Browse Instruments</a>
    </body>
</html>