<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instruments Index</title>
  </head>
  <body>
    <a href="/instruments/new">Add New Instrument</a>
    <h1>All Instruments</h1>
    <ul>
        <% instruments.forEach(instrument => { %>
            <li><a href="/instruments/<%= instrument.id %>"> <%= instrument.name %></a></li>
        <% }); %>
    </ul>
  </body>
</html>