<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= instrument.name %></title> <!-- Dynamic title based on fruit name -->
  </head>
  <body>
    <a href="/instruments/">Back to Instruments</a>
    <h1><%= instrument.name %></h1>
    <p><%= instrument.manufacturer %></p>
    <p><%= instrument.release %></p>
    <% if (instrument.owned) { %>
        <p>You own this instrument.</p>
    <% } else { %>
        <p>You don't own this yet.</p>
    <% } %>
</body>
</html>
